<header class="header">
  <svg viewBox="0 0 283 63" role="img" class="logo">
    <use xlink:href="#logo-white"></use>
  </svg>

  <nav class="nav">
    <ul>
      <li><a href="{{ .Site.BaseURL }}">Home</a></li>
      <li><a href="{{ .Site.BaseURL }}about">About</a></li>
      <li><a href="{{ .Site.BaseURL }}speakers">Speakers</a></li>
      <li><a href="{{ .Site.BaseURL }}venue">Venue</a></li>
      <li><a href="{{ .Site.BaseURL }}team">Team</a></li>
      <li><a href="{{ .Site.BaseURL }}partners">Partners</a></li>
    </ul>
  </nav>
</header>

<div class="logotype">
  <div class="logotype__mobile">
    <div class="logotype--straight">Beauty of the</div>
    <div class="logotype--rotate-left">fall</div>
  </div>
</div>

<div class="wrapper" id="js-wrapper">
  <div class="js-container">
