.scene {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  filter: blur(8px);
}

.bg-cross {
  position: absolute;
  transform: translate(0, 50%);
  right: -20%;
  width: 20rem;
  @media (--medium) {
    transform: translate(0, -20%);
    right: -5%;
    width: 40rem;
  }
}

.bg-arrow-up {
  position: absolute;
  top: 85vh;
  width: 15rem;
  @media (--large) {
    top: 85vh;
    left: 5rem;
    width: 30rem;
  }
}

.bg-arrow-down {
  position: absolute;
  top: 45vh;
  width: 5rem;
  @media (--large) {
    top: 40vh;
    left: 65vw;
    width: 7rem;
  }
}


.bg-circle {
  position: absolute;
  top: 10rem;
  left: 10rem;
  width: 7rem;
  @media (--large) {
    left: 40vw;
    width: 12rem;
  }
}

.bg-squiggle {
  position: absolute;
  top: 70vh;
  left: 70vw;
  width: 4rem;
  @media (--large) {
    width: 10rem;
    left: 80vw;
  }
}
