body,
html {
  font-size: 62.5%;
}

p {
  font-size: 1.4rem;
  @media (--medium) {
    font-size: 1.6rem;
  }
}

h1 {
  color: var(--tedPrimary);
  font-weight: 400;
  font-size: 6.2rem;
  text-align: center;
  line-height: 1.1;
  margin: 3.2rem 0;
  @media (--medium) {
    font-size: 10rem;
  }
  @media (--large) {
    font-size: 15rem;
    margin: 4.8rem 0;
  }
  @media (--xlarge) {
    font-size: 24rem;
  }
}

h3 {
  color: var(--black);
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
  @media (--medium) {
    font-size: 1.4rem;
  }
  @media (--large) {
    font-size: 1.6rem;
  }
}

.details {
  text-align: center;
  @media (--large) {
    padding: 4.8rem 0 0 0;
  }
}

.details__value {
  color: var(--tedPrimary);
  font-size: 2.4rem;
  display: inline-block;
  @media (--medium) {
    font-size: 4.8rem;
  }
  @media (--large) {
    font-size: 7.2rem;
  }
}

.details__label {
  font-size: 1.2rem;
  text-transform: uppercase;
  @media (--medium) {
    font-size: 1.4rem;
  }
  @media (--large) {
    font-size: 1.6rem;
  }
}

.details__info {
  font-size: 1.2rem;
  padding: 0 0 2.4rem 0;
  @media (--large) {
    font-size: 1.6rem;
    padding: 0 0 3.2rem 0;
  }
}

a:link, a:visited {
  color: var(--tedPrimary);
  font-size: 1.2rem;
  text-transform: uppercase;
  @media (--medium) {
    font-size: 1.4rem;
  }
  @media (--large) {
    font-size: 1.6rem;
  }
}

a:hover {
  text-decoration: none;
}

.link--lowercase {
  text-transform: lowercase;
}

.text--italic {
  font-family: 'Suisse Works Italic', serif;
  font-style: italic;
}
