<meta name="description" content="{{ .Site.Params.description }}" />

<meta property="og:type" content="website"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta property="og:title" content="{{ .Title }}"/>
<meta property="og:url" content="{{ .Site.BaseURL }}"/>
<meta property="og:image" content="/images/seo/fb-thumb.jpg"/>

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:url" content="{{ .Site.BaseURL }}">
<meta name="twitter:image" content="/images/seo/tw-thumb.jpg">
<meta name="Author" content="{{ .Site.Params.author }}">
