{{ partial "header" . }} {{ partial "svg/inline" . }} {{ partial "nav" . }}

<div class="hero">
  <div class="hero__container">
    <div class="hero__heading">
      <h1>{{ $.Site.Params.about.heading | title }}</h1>
    </div>
  </div>
</div>
{{ range $.Site.Params.about.section }}
<section class="content">
  <div class="content__container content--wrap">
    <h2>{{ .heading }}</h2>
    <p>{{ .body | safeHTML }}</p>
    {{ if and (.cta) (.url) }}
      <a href="{{ .url | safeURL }}" class="content__link--arrow">{{ .cta }}</a>
    {{ end }}
  </div>
</section>
{{ end }}

{{ partial "footer" . }}
