{{ partial "header" . }} {{ partial "svg/inline" . }} {{ partial "nav" . }}

<div class="hero">
  <div class="hero__container">
    <div class="hero__heading">
      <h1>{{ $.Site.Params.partner.heading | title | safeHTML }}</h1>
    </div>
  </div>
</div>
<section class="content">
  <div class="content__container content--wrap">
    <h2>{{ $.Site.Params.partner.become.heading }}</h2>
    <p>{{ $.Site.Params.partner.become.body | safeHTML }}</p>
    <p><strong>{{ $.Site.Params.partner.become.role }}</strong><br/>
      {{ $.Site.Params.partner.become.contact }}</p>
    <a href="mailto:{{ $.Site.Params.partner.become.email }}" class="content__link--arrow">{{ $.Site.Params.partner.become.email }}</a>
  </div>
</section>

<section class="content">
  <div class="content__container content--wrap">
    <h2>Gold Partner</h2>
    {{ range $.Site.Params.partner.gold }}
    <div class="content__partners"><img src="{{ $.Site.BaseURL }}images/sponsor/{{ .logo }}"></div>
    <h3>{{ .name | title}}</h3>
    {{ end }}
  </div>
</section>

<section class="content">
  <div class="content__container content--wrap">
    <h2>Silver Partner</h2>
    {{ range $.Site.Params.partner.silver }}
    <div class="content__partners"><img src="{{ $.Site.BaseURL }}images/sponsor/{{ .logo }}"></div>
    <h3>{{ .name | title}}</h3>
    {{ end }}
  </div>
</section>

<section class="content">
  <div class="content__container content--wrap">
    <h2>Bronze Partner</h2>
    {{ range $.Site.Params.partner.bronze }}
    <div class="content__partners"><img src="{{ $.Site.BaseURL }}images/sponsor/{{ .logo }}"></div>
    <h3>{{ .name | title}}</h3>
    {{ end }}
  </div>
</section>

<!-- TODO: ADD PARTNERS -->

{{ partial "footer" . }}
