{{ partial "header" . }} {{ partial "svg/inline" . }} {{ partial "nav" . }}

<div class="hero">
  <div class="hero__container">
    <div class="hero__heading">
      <h1>{{ $.Site.Params.speaker.heading | title }}</h1>
    </div>
  </div>
</div>
<!-- TODO: INSERT SPEAKERS -->
<section class="content">
  <div class="content__container content--wrap">
    <h2>Coming Soon</h2>
    <p>We will be releasing more information on our speaker line-up in the near future. Please check back soon!</p>
  </div>
</section>

{{ partial "footer" . }}
