{{ partial "header" . }} {{ partial "svg/inline" . }} {{ partial "nav" . }}

<div class="hero section">
  <div class="hero__heading">
    <h1>{{ $.Site.Params.team.heading | title }}</h1>
  </div>
</div>

<section class="content section fp-auto-height">
  <h3>Students</h3>
  <div class=" content--flex">
  {{ range sort $.Site.Data.team ".id" }}
    <div class="content__list">
      <!-- TODO: ADD PROFILE PHOTO -->
      <div class="content__thumb"><img src="http://via.placeholder.com/500x500"></div>
      <h2>{{ .name }}</h2>
      <p>{{ .role }}</p>
      <a href="{{ $.Site.BaseURL }}team/{{ .slug }}" class="content__link--arrow">View Profile</a>
    </div>
  {{ end }}
  </div>
</section>

<section class="content section fp-auto-height">
  <h3>Advisors</h3>
  <div class=" content--flex">
  {{ range $.Site.Data.advisors }}
  <div class="content__list">
    <!-- TODO: ADD PROFILE PHOTO -->
    <div class="content__thumb"><img src="http://via.placeholder.com/500x500"></div>
    <h2>{{ .name }}</h2>
    <p>{{ .role }}</p>
    <a href="{{ $.Site.BaseURL }}team/{{ .slug }}" class="content__link--arrow">View Profile</a>
  </div>
  {{ end }}
  </div>
</section>


{{ partial "footer" . }}
