{{ partial "header" . }} {{ partial "svg/inline" . }} {{ partial "nav" . }}

<div class="hero">
  <div class="hero__heading">
    <h1>{{ $.Site.Params.venue.heading | title }}</h1>
  </div>
</div>

{{ range $.Site.Params.venue.section }}
<section class="content">
  <h2>{{ .heading }}</h2>
  <p>{{ .section | safeHTML }}</p>
  {{ if .address }}
    <p class="content__format">{{ .address | safeHTML }}</p>
  {{ end }}
  {{ if .map }}
    <div class="content__map" id="js--map"></div>
  {{ end }}
</section>
{{ end }}

<script>
function initMap() {
  var locationACCD = {lat: 34.168871, lng: -118.185157};
  var map = new google.maps.Map(document.getElementById('js--map'), {
    zoom: 17,
    center: locationACCD,
    gestureHandling: 'cooperative',
    scrollwheel: false
  });
  var marker = new google.maps.Marker({
    position: locationACCD,
    map: map,
    title: 'ArtCenter College of Design'
  });
}
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAojAEP9SRzgDtxxnmeUWwKgCxUooLxGng&callback=initMap">
</script>
{{ partial "footer" . }}
