{{ partial "header" . }} {{ partial "svg/inline" . }}
<header>
  <svg viewBox="0 0 283 63" role="img" class="logo">
    <use xlink:href="#logo-white"></use>
  </svg>
</header>
<div class="wrapper">
    <div class="hero">
        <h1>Have you heard?<br /> TEDx is <em class="ani-glitch" data-text="back">back</em>!<br /> Nov. 04, 2017 at ArtCenter College of Design.</h1>
    </div>
    <div class="details">
        <div class="details__timer" id="js-timer">
          <h3>See you in</h3>
          <div class="details__date">
            <span class="details__value js-days"></span>
            <div class="details__label">Days</div>
          </div>
          <div class="details__date">
            <span class="details__value js-hrs"></span>
            <div class="details__label">Hrs</div>
          </div>
          <div class="details__date">
            <span class="details__value js-mins"></span>
            <div class="details__label">Mins</div>
          </div>
          <div class="details__date details__date--last">
            <span class="details__value js-secs"></span>
            <div class="details__label">Secs</div>
          </div>
        </div>
        <div class="details__info">
          <h3>Check back soon for more details and information!</h3>
        </div>
        <div class="details__info">
          <h3>Follow us on</h3>
          <a href="//www.facebook.com/tedxaccd" target="_blank">Facebook</a>
          <span> / </span>
          <a href="//www.instagram.com/tedxaccd" target="_blank">Instagram</a>
          <span> / </span>
          <a href="//twitter.com/tedxaccd" target="_blank">Twitter</a>
        </div>
        <div class="details__info">
          <h3>Take a look at</h3>
          <a href="//2015.tedxaccd.com" target="_blank">TED<span class="link--lowercase">x</span>ACCD 2015</a>
        </div>
    </div>
</div>

{{ partial "footer" . }}
