{{ partial "header" . }} {{ partial "svg/inline" . }}{{ partial "promo" . }} {{ partial "nav" . }}
<div class="hero hero--section">
  <div class="hero__container">
    <div class="hero__heading">
      <h1>{{ $.Site.Params.index.heading | safeHTML }}</h1>
      <a href="#promo" data-modal-open class="content__link--arrow">View Trailer</a>
    </div>
    <div class="hero__details">
      <h2 class="hero--subheading">{{ $.Site.Params.index.date }}</h2>
      <h3>{{ $.Site.Params.index.location }}</h3>
      <!-- <h2 class="hero--subheading">Tickets Coming Soon</h2> -->
    </div>
  </div>
</div>

<a id="scroll-down"></a>
{{ range $.Site.Params.index.section }}
<section class="content content--flex-center {{ if .section }}{{ .section }}{{ end }}">
  <div class="content__container content--wrap">
    <h2 data-aos="fade-up" data-aos-easing="ease-out">{{ .heading }}</h2>
    <p data-aos="fade-up" data-aos-easing="ease-out" data-aos-delay="50">{{ .body | safeHTML }}</p>
    {{ if and (.cta) (.url) }}
      <a href="{{ .url | safeURL }}" class="content__link--arrow {{ if .section }} color--white {{ end }}" data-aos="fade-up" data-aos-easing="ease-out" data-aos-delay="100">{{ .cta }}</a>
    {{ end }}
  </div>
</section>
{{ end }}
{{ partial "footer" . }}
