{{ partial "header" . }} {{ partial "svg/inline" . }}
<div class="wrapper">
    <div id="scene" class="scene">
        <div class="layer" data-depth="0.90">
            <img src="./images/bg-cross.png" class="bg-cross">
        </div>
        <div class="layer" data-depth="0.80">
            <img src="./images/bg-arrow-up.png" class="bg-arrow-up">
        </div>
        <div class="layer" data-depth="0.40">
            <img src="./images/bg-circle.png" class="bg-circle">
        </div>
        <div class="layer" data-depth="0.30">
            <img src="./images/bg-squiggle.png" class="bg-squiggle">
        </div>
        <div class="layer" data-depth="0.20">
            <img src="./images/bg-arrow-down.png" class="bg-arrow-down">
        </div>
    </div>
    <header>
        <div class="logo">
          <svg role="img" class="logo-white" style="width: 100%; height: 5rem; overflow: visible">
            <use xlink:href="#logo-white"></use>
          </svg>
        </div>
    </header>
    <div class="hero">
        <h1>We’re<br>Back</h1>
        <p>TEDxACCD is coming back this fall.<br>The team is hard at work to make it happen.</p>
        <p><strong>Please check back soon for details!</strong></p>
    </div>

</div>

{{ partial "footer" . }}
